@import "bootstrap";

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

#result {
  margin-top: 20px;
}



.user-info {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.info-item {
  margin: 5px 0;
}

.info-item strong {
  margin-right: 5px;
}

.error-message {
  color: red;
}
